{% extends "base.html" %}

{% block title %}About President's Database{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1> Data Analysis for MSI-ambiguous Oncogene List </h1>
    <p> This data analysis displays selected gene expression from MSI-ambiguous oncogenes</p>
    <p> The data is analyzed by cotrol & variable tumor samples for novel neoantigen identification</p>
    <p> Data incorperated with Flask </p>
    <center><h3>Plot A</h3><img src="{{ user_image }}" alt="Img not found" height="480px" width="600px"></center>
</div>
{% endblock %}
~
